.logo-container {
  text-decoration: none;
  display: inline-block;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.logo-my {
  color: #001b57;
}

.logo-health {
  color: #002089;
}

.logo-care {
  color: #0032bd;
}

.logo-plus {
  color: #ef4444;
}